<%- include('./partials/header'); %>


<title><%= title %></title>
<link rel="stylesheet" href="./css/contacto.css"/>


<div class="container mt-3">
    <h2>Logo</h2>
    <p>Presione la imagen para visitar mi github</p>

    <div>
        <a href="https://github.com/inosttroza"> <img src="./img/ino192.png"> </a>
      <div>
        <h4 >Github</h4>
        <p >Ejemplo simple del juego cachipun con el modulo cachipun-ino de NPM</p>           
      </div>
    </div> 
  </div>

  <%- include('./partials/footer'); %>