<!-- <div class="header__search">
    <form action="/" method="POST">
        <input type="text" name="search" placeholder="Search for news" required>
        <input type="submit" value="Search">
    </form>
</div> -->
<link rel="shortcut icon" href="./img/favicon.ico">
<div class="topnav">
    <a class="active" href="/">Cachipun</a>
    <a href="/contacto">Contacto</a>

    <div class="search-container">
        <form action="/action_page">
            <input type="text" placeholder="buscar.." name="search">
            <button type="button" onclick="buscar()">
              <img src="./img/lupa.png" width="15" height="15"/>
            </button>
        </form>
    </div>
</div>


<link rel="stylesheet" href="./css/header.css"/>
<script src="../js/buscar.js"></script>

